<h2>Edit an Article</h2>
<%= form_for @article do |f| %>
  <%= f.label :name, "Enter a name" %>
  <%= f.text_field :name %>
  <%= f.label :content, "Enter some content" %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>













