<h2><%= @article.name %></h2>
<p><%= @article.content %></p>
<%= link_to "Edit article", edit_article_path(@article) %>&nbsp; |&nbsp;
  <%= link_to "Delete article", article_path(@article), method: :delete %>
<br>
<br>
<%= link_to "Return home", articles_path %>
